/* This is going to be my CSS to style my website  */

/* Change background color of the navbar */
.navbar {background-color: aqua;}

body {background-color: azure;}

h1 {text-align: center;
    color: darkblue;
    font-weight: bold;}

h2 {text-align: center;
    color: darkblue;}

h4 {text-align: center;
    color: darkblue;}